a {
  text-decoration: none;
}

.product-label {
    position: absolute;
    top: 5px;
    right: 5px;
}

.w-80 {
  width: 80%;
}

@media (min-width: 1020px) {
  .w-md-50 {
    width: 50%;
  }
}

.object-cover {
  object-fit: cover;
}

.img-product-detail {
  height: 23rem;
  object-fit: cover;
  width: 100%;
}

.text-home {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 1.2rem 1.2rem 1rem;
}

.w-home {
  width: 100%;
}

@media (min-width: 820px) {
  .w-home {
    width: 43%;
  }
}

.pointer{
    cursor: pointer;
}
.img-storeassociated{
    width: 100%
}
@media (min-width: 960px){
    .img-storeassociated{
        width: 50%
    }
}
